{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
      <title>Vita de vie</title>
      <style>
        /* Define grid layout with 6 cells */
        .grid-container {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-gap: 10px;
          margin: 20px;
        }
        /* Style cells */
        .cell {
          border: 1px solid black;
          padding: 10px;
          text-align: center;
        }
      </style>
    </head>
    <body>
      <h1> CEREALE/ЗЕРНОВЫЕ</h1>

    <h1>Buha fructificatilor/Хлопковая совка</h1>
      <div class="grid-container">
        <div class="cell">{{ buha_fructificat_result.0 }}<a href="https://www.ecocenter.md/ru/category/helicoverpa-armigera">феромонные ловушки</a></div>
        <div class="cell">{{ buha_fructificat_result.1 }}<a href="https://www.pesticide.md/registru-cautare/?name_registr=0&name_reg=0&t=0&c=0&comp=0&par=18194&search=C%C4%83utare">Разрешённые препараты против хлопковой совки</a></div>
        <div class="cell">{{ buha_fructificat_result.2 }}</div>
        <div class="cell">{{ buha_fructificat_result.3 }}</div>
        <div class="cell">{{ buha_fructificat_result.4 }}</div>
        <div class="cell">{{ buha_fructificat_result.5 }}</div>
      </div>
      
    </body>
</body>    
{% endblock %}